<app-header-admin-sistema></app-header-admin-sistema>
<div class="container">
  <app-header-config-peliculas></app-header-config-peliculas>
</div>
<div class="container text-center">
  <br />
  <a routerLink="/peliculas/nueva" class="btn btn-success">
    <i class="bi bi-file-earmark-plus"></i>
    <h6>Crear Pelicula</h6>
  </a>
</div>

<div class="container text-center"></div>

<br />
<div class="container text-black text-center">
  <h1><strong> LISTA DE PELICULAS REGISTRADAS</strong></h1>
  <br />
  <div class="container text-center">
    <a routerLink="/home/admin-sistema" class="btn btn-primary">
      <i class="bi bi-arrow-left-square-fill"></i>
      Regresar Al Menu Principal
    </a>
  </div>
  <br>
  <br>

  <br />
</div>

<app-peliculas-table-component></app-peliculas-table-component>