<app-header-admin-cine></app-header-admin-cine>
<div class="container text-center text-black">
  <br />
  <div class="container">
    <a routerLink="/salas/nuevo" class="btn btn-success">
      <i class="bi bi-file-earmark-plus"></i>
      <h6>Crear Sala</h6>
    </a>
  </div>
  <br />
</div>
<div class="container text-center">
  <a routerLink="/home/admin-cine" class="btn btn-primary">
    <i class="bi bi-arrow-left-square-fill"></i>
    Regresar Al Menu Principal
  </a>
</div>
<div class="container text-black">
  <h1>Listado de Salas</h1>
  <br />
  <br />
  <app-salas-table-component [codigoCine]="codigoCine"></app-salas-table-component>
</div>
