#listadoCat textarea {
    background-color: rgb(233, 231, 122); 
    border: 2px solid #8a7e00;           
    color: #333;                        
    padding: 0.5rem;                     
    border-radius: 4px;                   
}
