<app-toast-component #toast></app-toast-component>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>
        <strong>{{ cineSeleccionado.codigo }}</strong>
      </h5>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ cineSeleccionado.nombre }}</h4>
      <h5 class="card-subtitle mb-2 text-body-secondary">
        Ubicacion: {{ cineSeleccionado.ubicacion }}
      </h5>
      <h5 class="card-subtitle mb-2 text-body-secondary">
        Fecha de Creacion: {{ cineSeleccionado.fechaCreacion | date : 'dd MMMM yyyy' }}
      </h5>
      <h5 class="card-subtitle mb-2 text-body-secondary">
      </h5>
      <a routerLink="/cine/actualizar/{{ cineSeleccionado.codigo }}" class="btn btn-primary me-3">
        Actualizar Cine
      </a>
      
      <a 
      class="btn btn-success me-3" 
      routerLink="/cine/admins/{{cineSeleccionado.codigo}}"
      >Ver Admins Cine</a>

     <a class="btn btn-danger" (click)="confirmarEliminacion()">Eliminar</a>
    </div>
  </div>
</div>