<app-header-admin-sistema></app-header-admin-sistema>
<div id="contenedor" class="text-black">
  <div class="container text-center">
    <br />
    <a routerLink="/categorias" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de Categorias
    </a>
  </div>
  <div class="container text-center">
    <br />
    <h1>Nueva Categoria</h1>
    <br />
    <div class="container text-center">
      <app-categorias-form-component></app-categorias-form-component>
    </div>
  </div>
  <br />
</div>
