<app-header-admin-sistema></app-header-admin-sistema>

<div class="container align-content-sm-center text-black">
  <div class="text-center text-black">
    <h1>BIENVENIDO ADMIN DE SISTEMA</h1>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>
        <h2>Ver Listado de Cines Registrados</h2>
        <h5 class="text-muted">
          Apartado para ver el listado de cines, o crear un nuevo cine. Administrar los admins de
          cada cine
        </h5>
        <a routerLink="/cines" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Cines Registrados
        </a>
      </div>

      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>

        <h2>Ver El listado de Anunciantes</h2>
        <h5 class="text-muted">
          Apartado para ver el listado de anunciantes, o crear un nuevo anunciante por medio de su
          ID, o eliminar
        </h5>
        <a routerLink="/anunciantes" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Anunciantes Registrados
        </a>
      </div>

      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>

        <h2>Configuracion de Precios de anuncios</h2>
        <h5 class="text-muted">
          Apartado para ver, o actualizar precios de todos los tipos de anuncios existentes en el
          sistema
        </h5>
        <a routerLink="/preciosAnuncios" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Configuracion de Precios
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">

      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>
        <h2> Configuracion de Peliculas Registradas</h2>
        <h5 class="text-muted">
          Apartado para ver, crear y eliminar peliculas. Crear categorias y asignarselo a cada pelicula
        </h5>
        <a routerLink="/peliculas/config" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Cifig Peliculas
        </a>
      </div>

      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>

        <h2>Configuracion de Costos de Funcionamiento</h2>
        <h5 class="text-muted">
          Ver o actualizar costos para cada cine, o actualizar el costo global para nuevos cines
        </h5>
        <a routerLink="/costosFuncinamiento" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Anunciantes Registrados
        </a>
      </div>

      <div class="col-md-4 text-center border rounded-3 p-3 shadow-sm bg-gradient">
        <svg class="bi" width="2em" height="2em">
          <use xlink:href="#toggles2"></use>
        </svg>

        <h2>-</h2>
        <h5 class="text-muted">
          Apartado para ver, o actualizar precios de todos los tipos de anuncios existentes en el
          sistema
        </h5>
        <a routerLink="/preciosAnuncios" class="btn btn-success">
          <i class="bi bi-toggles2"></i> Ir a Configuracion de Precios
        </a>
      </div>
    </div>
  </div>
</div>
