<app-header-admin-sistema></app-header-admin-sistema>
<div id="contenedor" class="text-black">
  <div class="container text-center">
    <br />
    <a routerLink="/peliculas/config" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de Peliculas
    </a>
  </div>
  <div class="container text-center">
    <br />
    <h1>Actualizacion de Pelicula</h1>
    <br />
    <div class="row">
      <app-actualizar-pelicula-form-component [codigoPelicula]="codigoPelicula"></app-actualizar-pelicula-form-component>
    </div>
  </div>
  <br />
</div>
