<app-header-admin-sistema></app-header-admin-sistema>
      @if(cine!=undefined){
<div id="contenedor" class="text-black">

  <div class="container text-center">
    <br>
    <a routerLink="/cine/admins/{{cine.codigo}}" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de  AdminsCines
    </a>
  </div>
  <div class="container text-center">
    <br />
    <h1>Nuevo Admin Cine</h1>
    <br />
    <div class="row">
        <app-crear-admin-cine-form-component [cine]="cine"></app-crear-admin-cine-form-component>
       
    </div>
  </div>
  <br>
</div>
 }
