<app-toast-component #toast></app-toast-component>
<form [formGroup]="actualizarPreciosForm" (submit)="actualizar()">
  <div class="row g-3" id="contenedor">
    <div class="col-6" id="ID">
      <label for="id" class="form-label"
        ><strong><h3>ID:</h3></strong></label
      >
      <input
        type="text"
        class="form-control"
        readonly
        id="id"
        name="id"
        formControlName="id"
        [class.is-invalid]="
          actualizarPreciosForm.controls['id'].dirty &&
          actualizarPreciosForm.controls['id'].invalid
        "
      />
    </div>
    <div class="col-6" id="tipo">
      <label for="tipo" class="form-label"
        ><strong><h3>TIPO:</h3></strong></label
      >
      <input
        type="text"
        readonly
        class="form-control"
        id="tipo"
        name="tipo"
        formControlName="tipo"
      />
    </div>

    <div class="col-12" id="venta">
      <label for="precioVenta" class="form-label"><h5>Precio de venta por dia Q.</h5></label>
      <input
        type="number"
        min="0"
        class="form-control"
        id="precioVenta"
        name="precioVenta"
        formControlName="precioVenta"
        [class.is-invalid]="
          actualizarPreciosForm.controls['precioVenta'].dirty &&
          actualizarPreciosForm.controls['precioVenta'].invalid
        "
      />
    </div>
    <div class="col-6" id="bloqueo">
      <input
        type="hidden"
        min="0"
        class="form-control"
        id="precioBloqueo"
        name="precioBloqueo"
        formControlName="precioBloqueo"
        formControlName="precioBloqueo"
        [class.is-invalid]="
          actualizarPreciosForm.controls['precioBloqueo'].dirty &&
          actualizarPreciosForm.controls['precioBloqueo'].invalid
        "
      />
    </div>
  </div>
  <hr class="my-4" />
  <div class="d-grid gap-2 d-md-flex justify-content-lg-center">
    <button class="btn btn-success" [disabled]="actualizarPreciosForm.invalid">
      <strong>Actualizar Precio de Anuncio</strong>
    </button>
  </div>
</form>
