<div class="container text-start">
  <app-toast-component #toast></app-toast-component>

  @if(categorias.length == 0){
    <h2>No hay anunciantes, crea al primero</h2>
  }

  @if(categorias.length > 0){
    <div class="d-flex justify-content-center">
      <table class="table table-striped table-sm w-50">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          @for (categoria of categorias; track $index) {
            <tr>
              <td>{{ categoria.id }}</td>
              <td>{{ categoria.nombre }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

