<app-header-admin-sistema></app-header-admin-sistema>

  <div class="container text-center">
    <br>
    
    <a 
    routerLink="/adminCine/nuevo" 
    [state]="{cine: cine}"
    class="btn btn-success">
    
      <i class="bi bi-file-earmark-plus"></i>
      <h6>Crear Admin</h6>
    </a>
  </div>
<br>
<div class="container text-black text-center">
<h1>LISTA DE ADMINS DEL CINE: "{{cine.nombre}}" </h1>
  <br>
  <div class="container text-center">
      <a routerLink="/cines" class="btn btn-primary">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de Cines
    </a>
</div>
<br>
<app-tabla-admins-cine-component [cine]="cine"></app-tabla-admins-cine-component>
</div>