.gradient-custom {
/* fallback for old browsers */
background: #5bc4e4;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(54, 136, 164), rgb(202, 206, 212));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(93, 191, 240), rgb(128, 237, 156))
}