<app-header-admin-cine></app-header-admin-cine>
<div id="contenedor" class="text-black">
  <div class="container text-center">
    <br />
    <a routerLink="/proyecciones" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de Proyecciones
    </a>
  </div>
  <div class="container text-center">
    <br />
    <h1>Actualizacion de Proyeccion</h1>
    <br />
    <div class="row">
      @if (proyeccion!=undefined) {
      <app-update-proyeccion-form-component
        [proyeccionActual]="proyeccion"
      ></app-update-proyeccion-form-component>
      }
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="container-xxl">
    <h5 class="text-center">Listado de Peliculas</h5>
    <app-peliculas-table-component [editable]="false"></app-peliculas-table-component>
  </div>
  <br />
  <br />
  <br />
</div>
