<app-header-admin-sistema></app-header-admin-sistema>

@if(adminsSistema!=undefined){
<div class="container text-center">
  <br />

  <a routerLink="/adminSistema/nuevo" class="btn btn-success">
    <i class="bi bi-file-earmark-plus"></i>
    <h6>Crear Admin</h6>
  </a>
</div>
<br />
<div class="container text-black text-center">
  <h1>LISTA DE ADMINS DEL SISTEMA:</h1>
  <div class="container text-center">
    <a routerLink="/home/admin-sistema" class="btn btn-primary">
      <i class="bi bi-arrow-left-square-fill"></i>
      Regresar Al Menu Principal
    </a>
  </div>
  <br />
  <br />
  <app-admins-sistema-table-component [admins]="adminsSistema"></app-admins-sistema-table-component>
</div>
}
