@if (rol=='ADMIN-CINE') {
  <app-header-admin-cine></app-header-admin-cine>
}
@if (rol=='ADMIN-SISTEMA') {
  <app-header-admin-sistema></app-header-admin-sistema>
}

<div class="container text-center text-black">
  <br />
  <div class="d-flex justify-content-center gap-3">
    <a routerLink="/misAnuncios/nuevo/TEXTO" class="btn btn-success d-flex align-items-center">
      <i class="bi bi-file-earmark-plus me-2"></i>
      <h6 class="m-0">Comprar Anuncio de Texto</h6>
    </a>

    <a routerLink="/misAnuncios/nuevo/IMAGEN" class="btn btn-success d-flex align-items-center">
      <i class="bi bi-file-earmark-plus me-2"></i>
      <h6 class="m-0">Comprar Anuncio de Texto e Imagen</h6>
    </a>

    <a routerLink="/misAnuncios/nuevo/VIDEO" class="btn btn-success d-flex align-items-center">
      <i class="bi bi-file-earmark-plus me-2"></i>
      <h6 class="m-0">Comprar Anuncio de Texto y Video</h6>
    </a>
  </div>

  <br />
</div>

<div class="container text-center">
  <h1><strong>Mis Anuncios</strong></h1>
  <br />
  <br />
  <app-anuncios-table-component [anuncios]="anuncios"></app-anuncios-table-component>
</div>
