<app-header-admin-sistema></app-header-admin-sistema>
<div id="contenedor" class="text-black">
  <div class="container text-center">
    <br />
    <a routerLink="/costosFuncinamiento" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Regresar al Historial de Costos
    </a>
  </div>
  <div class="container text-center">
    <br/>
    <h1>Nuevo Costo de Funcionamiento</h1>
    <br />
    <div class="row">
      <app-costos-cine-form-component></app-costos-cine-form-component>
    </div>
  </div>
  <br />
</div>
