<header class="p-4 bg-black text-white">
  <div class="">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <li class="me-0 list-unstyled d-flex align-items-center">
        <a
          routerLink="/home/admin-cine"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link px-3 text-white fs-4"
        >
          <i class="bi bi-house-door-fill me-2 fs-3"></i> Home
        </a>
      </li>
      <a
        routerLink="/salas"
        class="btn btn-outline-light me-1 btn-lg"
        routerLinkActive="active"
        aria-current="page"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Gestion Salas
      </a>
      <a
        routerLink="/peliculas"
        routerLinkActive="active"
        class="btn btn-outline-light me-1 btn-lg"
      >
        Peliculas
      </a>

      <a
        routerLink="/proyecciones"
        routerLinkActive="active"
        class="btn btn-outline-light me-1 btn-lg"
      >
        Proyecciones
      </a>
      <div class="m-4"></div>
      <div class="m-4"></div>
      <div class="m-4"></div>
      <div class="m-4"></div>
      <div class="m-4"></div>
      <div class="m-4"></div>
      <div class="m-4"></div>
      @if (esAnunciante) {
      <a
        routerLink="/misAnuncios"
        routerLinkActive="active"
        class="btn btn-outline-light me-1 btn-lg"
      >
        <i class="bi bi-megaphone-fill me-1 fs-6"></i>

        Mis Anuncios
      </a>
      }
      <a
        routerLink="/participacion"
        routerLinkActive="active"
        class="btn btn-outline-light me-1 btn-lg"
      >
        Participar
      </a>
      <a
        routerLink="/miSaldo"
        routerLinkActive="active"
        class="btn btn-outline-light me-1 btn-lg"
      >
      <i class="bi bi-coin fs-6"></i>
        Mi Saldo
      </a>
      <h2>ID: {{idUsuario}}</h2>
      <div class="ms-auto text-end">
        <a routerLink="/" class="btn btn-outline-light btn-lg"> Cerrar Sesión </a>
      </div>
    </div>
  </div>
</header>
<br />
