@if(rol=='USUARIO-NORMAL'){
<app-header-usuario-normal></app-header-usuario-normal>
} @if(rol=='ADMIN-SISTEMA'){
<app-header-admin-sistema></app-header-admin-sistema>
} @if(rol=='ADMIN-CINE'){
<app-header-admin-cine></app-header-admin-cine>
}
<div id="contenedor">
  <div class="container-fluid">
    <div class="row min-vh-100">
      <div class="col-2 bg-info border-end p-3">
        <h5>Anuncio Izquierdo</h5>
        <br />
        <br />
        <br />
        <br />
        <br />
        @if(anuncios.length>0){
        <app-anuncio-card-component [anuncio]="anuncios[0]"> </app-anuncio-card-component>

        }
      </div>
      <div class="col-8 text-black p-4">
        <div class="text-center">
          <h1>BIENVENIDO AL GESTOR DE CINES</h1>
        </div>
        <br />
        <h2>Peliculas Disponibles:</h2>
        <div class="col-12 col-md-6 mx-auto">
          <div class="input-group mb-3">
            <input
              type="search"
              class="form-control"
              [(ngModel)]="titulo"
              placeholder="Ingresa el titulo de la pelicula o la categoría"
            />
            <button type="button" class="btn btn-primary" (click)="buscarPeliculas(titulo)">
              Buscar
            </button>
          </div>
        </div>
        <nav aria-label="Paginación">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="inicio === 0">
              <button class="page-link" (click)="retroceder()">Anterior</button>
            </li>
            <li class="page-item" [class.disabled]="!hayMasPeliculas()">
              <button class="page-link" (click)="avanzar()">Siguiente</button>
            </li>
          </ul>
        </nav>
        <div class="row justify-content-center">
          @for (pelicula of peliculas; track $index) {
          <div class="col-12 col-md-6 mb-4 justify-content-center">
            <app-pelicula-card-component
              [pelicula]="pelicula"
              [posterUrl]="cargarPoster(pelicula.codigo)"
            ></app-pelicula-card-component>
          </div>
          }
        </div>
      </div>
      <div class="col-2 bg-danger border-start p-3">
        <h5>Anuncio derecho</h5>
        <br />
        <br />
        <br />
        <br />
        <br />
        @if(anuncios.length==2){
        <app-anuncio-card-component [anuncio]="anuncios[1]"></app-anuncio-card-component>
        }
      </div>
    </div>
  </div>
</div>
