@if(rol=='USUARIO-NORMAL'){
<app-header-usuario-normal></app-header-usuario-normal>
} @if(rol=='ADMIN-SISTEMA'){
<app-header-admin-sistema></app-header-admin-sistema>
} @if(rol=='ADMIN-CINE'){
<app-header-admin-cine></app-header-admin-cine>
}

<div class="container align-content-sm-center text-black">
  <div class="text-center text-black">
    <h1>BIENVENIDO</h1>
  </div>
  <br />
  <h1>Peliculas Disponibles:</h1>

  <div class="col-5">
    <div class="input-group">
      <input
        type="search"
        class="form-control"
        [(ngModel)]="titulo"
        placeholder="Ingresa el titulo de la pelicula o la categoria"
      />
      <button type="button" class="btn btn-primary" (click)="buscarPeliculas(titulo)">
        Buscar
      </button>
    </div>
  </div>
  <br />
  <nav aria-label="Paginación">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="inicio === 0">
        <button class="page-link" (click)="retroceder()">Anterior</button>
      </li>
      <li class="page-item" [class.disabled]="!hayMasPeliculas()">
        <button class="page-link" (click)="avanzar()">Siguiente</button>
      </li>
    </ul>
  </nav>
  <div class="row justify-content-center">
    @for (pelicula of peliculas; track $index) {
    <div class="col-12 col-md-6 mb-4 justify-content-center">
      <app-pelicula-card-component [pelicula]="pelicula"></app-pelicula-card-component>
    </div>
    }
  </div>
</div>
