<app-header-admin-sistema></app-header-admin-sistema>
<div id="contenedor" class="text-black">
  <div class="container text-center">
    <br>
    <a routerLink="/preciosAnuncios" class="btn btn-success">
      <i class="bi bi-arrow-left-square-fill"></i>
      Ir a listado de Precios
    </a>
  </div>
  <div class="container text-center">
    <br />
    <h1><strong> Actualizacion de Precios de anuncio</strong></h1>
    <br />
    <div class="row">
      <app-actualizar-precios-form-component></app-actualizar-precios-form-component>
    </div>
  </div>
  <br>
</div>