<app-header-admin-sistema></app-header-admin-sistema>
<div class="container text-center text-black">
  <br />
  <div class="container">
    <a routerLink="/cine/nuevo" class="btn btn-success">
      <i class="bi bi-file-earmark-plus"></i>
      <h6>Crear Cine</h6>
    </a>
  </div>
  <br />
</div>
<div class="container text-black">
  <h1>Listado de Cines</h1>
  <br />
  <div class="col-6">
    <app-buscador-cine-component (palabraBuscada)="buscarCines($event)">
    </app-buscador-cine-component>
  </div>
  <br />
  <nav aria-label="Paginación">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="inicio === 0">
        <button class="page-link" (click)="retrocederUnaPagina()">Anterior</button>
      </li>
      <li class="page-item" [class.disabled]="!hayMasCines()">
        <button class="page-link" (click)="avanzarUnaPagina()">Siguiente</button>
      </li>
    </ul>
  </nav>
  <app-toast-component #toast></app-toast-component>
  <div class="row">
    @for (cine of cines; track $index) {
    <h1></h1>
    <app-cine-card [cineSeleccionado]="cine" (cineEliminado)="cargarCines()"> </app-cine-card>
    }
  </div>
</div>
